body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

main {

    width: 100%;
    height: calc(100vh - 150px);
    display: block;
    overflow: hidden;
}

.camera-container {
    position: absolute;
    top: 0px;
    width: 100%;
    height: calc(100vh - 150px);
    z-index: 100;
    background-color: #EFEFF4;
}

.frame-container {
    position: absolute;
    top: 0px;
    width: 100%;
    height: calc(100vh - 150px);
    z-index: 150;
    background-color: rgba(100, 200, 100, 0.0);
    overflow: hidden;
}


footer {
    width: 100%;
    height: 150px;
    display: block;
}



.frame-container-TheSignLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.frame-container-OutputVideoLayer {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;

}


.frame-container-FrontLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;


}



.frame-container-BackLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
   

}





.frame-container-FrontLayer video {
    position: absolute;
    top: 0;

    height: 100%;

    -webkit-mask-image: url('../images/dots_Mesa%20de%20trabajo%201.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: left;
}

