body {
	padding: 0px;
	margin: 0px;
}

main {

	width: 100%;
	height: calc(100vh - 100px);
	display: block;
	overflow: hidden;
}

.camera-container{
	position: absolute;
	top:0px;
	width: 100%;
	height: calc(100vh - 100px);
	z-index: 100;
}

.frame-container{
	position: absolute;
	top:0px;
	width: 100%;
	height: calc(100vh - 100px);
	z-index: 50;
}


footer {
	width: 100%;
	height: 100px;
	display: block;
}
